<div class="container">
  <h2>
    My advertisements
  </h2>
  <hr>
  <mat-grid-list cols="3" [gutterSize]="'20px'" rowHeight="1:1.1">
    <mat-grid-tile *ngFor="let ad of advertisements; let i = index">
      <div class="card">
        <img [src]="ad.pictureLink" alt="Advertisement picture"
          (click)="onOpenDetails(i)">

        <mat-divider></mat-divider>

        <h2 (click)="onOpenDetails(i)">"{{ad.name}}"</h2>

        <mat-divider></mat-divider>

        <h3>Views count: {{ad.viewsCount}}</h3>
        <h3>Views limit: {{ad.viewsLimit}}</h3>

        <mat-divider></mat-divider>

        <div style="display: flex; margin: 5px 10px;color: white; justify-content: space-between;">
          <p style="font-size: 20px;margin-top: auto; margin-bottom: auto; margin-right: 10px;">
            Published:
          </p>
          <mat-slide-toggle [checked]="ad.status === AdvertisementStatus.Published"
           (change)="onStatusToggleAsync(i)">
          </mat-slide-toggle>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
