<div>
  <h2 i18n>New smart device data</h2>
  <hr>

  <p *ngIf="errorMessage" style="color: #e43e32; font-size: 18px;">
    {{errorMessage}}
  </p>

  <form ngNativeValidate (submit)="onRegisterAsync()">
    <label i18n>Serial number:
      <input type="text" [(ngModel)]="serialNumber"
             required autocomplete="off" name="serialNumber">
    </label>
    <br>
    <label i18n>Password:
      <input type="password" [(ngModel)]="password"
             required autocomplete="off" name="password">
    </label>

    <br>

    <button type="submit" mat-raised-button color="primary" i18n>
      Register
    </button>
  </form>
</div>

