<div class="container">
  <h2 i18n>Create advertisement</h2>
  <hr>

  <mat-horizontal-stepper linear>

    <mat-step [completed]="firstStepCompleted">

      <ng-template matStepLabel i18n>General information</ng-template>

      <hr>
      <p *ngIf="displayErrorMessages[0]" style="color: red;">
        {{displayErrorMessages[0]}}
      </p>
      <p i18n>Name:</p>
      <input type="text" [(ngModel)]="advertisement.name">
      <p i18n>Views count limit:</p>
      <input type="number" [(ngModel)]="advertisement.viewsLimit">
      <p i18n>Picture:</p>
      <input #fileLoader type="file" accept="image/jpeg"
             (change)="onFileSelected($event)" style="display: none">
      <button mat-raised-button (click)="fileLoader.click()" color="primary"
        style="width: 200px;" i18n>
        Load picture
      </button>
      <hr>

      <div>
        <button mat-raised-button matStepperNext color="primary"
          (click)="onNext(0)" i18n>
          Next
        </button>
      </div>

    </mat-step>

    <mat-step [optional]="true">
      <ng-template matStepLabel i18n>Location configuration</ng-template>

      <hr>
      <p i18n>Country:</p>
      <input type="text" [(ngModel)]="advertisement.countryScope">
      <p i18n>City:</p>
      <input type="text" [(ngModel)]="advertisement.cityScope">
      <hr>

      <div>
        <button mat-raised-button matStepperPrevious i18n>Back</button>
        <button mat-raised-button matStepperNext color="primary" i18n>Next</button>
      </div>

    </mat-step>

    <mat-step [optional]="true">
      <ng-template matStepLabel i18n>Human limits</ng-template>

      <hr>
      <p *ngIf="!advertisement.humanLimits" i18n>No human limits specified.</p>
      <div *ngIf="advertisement.humanLimits">
        <p i18n>
          Human Limits:
        </p>
        <p style="margin-left: 20px;"
           *ngFor="let humanLimit of humanLimits">{{humanLimit}}</p>
      </div>

      <button mat-raised-button color="accent" style="width: 300px;"
              (click)="onAddHumanLimit()" i18n>
        Add human limit
      </button>
      <hr>

      <div>
        <button mat-raised-button matStepperPrevious i18n>Back</button>
        <button mat-raised-button matStepperNext color="primary" i18n>Next</button>
      </div>

    </mat-step>

    <mat-step [optional]="true">
      <ng-template matStepLabel i18n>Time limits</ng-template>

      <hr>
      <p *ngIf="!advertisement.timePeriodLimits" i18n>No time limits specified.</p>
      <div *ngIf="advertisement.timePeriodLimits">
        <p i18n>
          Time Limits:
        </p>
        <p style="margin-left: 20px;"
           *ngFor="let timeLimit of timeLimits">{{timeLimit}}</p>
      </div>

      <button mat-raised-button color="accent" style="width: 300px;"
        (click)="onAddTimeLimit()" i18n>
        Add time limit
      </button>
      <hr>

      <div>
        <button mat-raised-button matStepperPrevious i18n>Back</button>
        <button mat-raised-button matStepperNext color="primary" i18n>Next</button>
      </div>

    </mat-step>

    <mat-step>

      <ng-template matStepLabel i18n>Done</ng-template>

      <hr>
      <p i18n>To create an advertisement click 'Create!' button.</p>
      <hr>

      <div>
        <button mat-raised-button matStepperPrevious i18n>Back</button>
        <button mat-raised-button (click)="onDone()" color="accent" i18n>Create!</button>
      </div>

    </mat-step>
  </mat-horizontal-stepper>
</div>
