<mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'">
  <mat-tab i18n-label label="Monitor smart devices">
    <app-admin-smart-devices></app-admin-smart-devices>
  </mat-tab>

  <mat-tab i18n-label label="Register smart device">
    <app-register-smart-device></app-register-smart-device>
  </mat-tab>

  <mat-tab i18n-label label="Register admin">
    <app-register-admin></app-register-admin>
  </mat-tab>

  <mat-tab i18n-label label="Import / Export">
    <app-import-export></app-import-export>
  </mat-tab>
</mat-tab-group>
